<header class="header">
  <div class="header-container">
    <h1 class="header-container__title">Image Finder</h1>
    <a routerLink="#" class="material-icons header-container__link">account_circle</a>
  </div>
</header>

<section class="main">
  <div class="main-container">

    <nav class="main-navbar">
      <ul class="main-navbar__list">
        <li class="main-navbar__item">
          <a routerLink="/images" class="material-icons" routerLinkActive="active">wb_cloudy</a>
        </li>
        <li class="main-navbar__item">
          <a routerLink="/bookmarks" class="material-icons" routerLinkActive="active">bookmark</a>
        </li>
      </ul>
    </nav>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</section>

<footer class="footer">
  <span>Copyrights</span>
</footer>
