<header class="header">
  <mat-toolbar class="header-container">
    <span>Image Finder</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>


<section class="main">
  <div class="main-container">

    <nav class="main-navbar">
      <ul class="main-navbar__list">
        <li class="main-navbar__item">
          <a routerLink="/images" class="material-icons" routerLinkActive="active">wb_cloudy</a>
        </li>
        <li class="main-navbar__item">
          <a routerLink="/bookmarks" class="material-icons" routerLinkActive="active">bookmark</a>
        </li>
      </ul>
    </nav>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</section>

<footer class="footer">
  <span>Copyrights</span>
</footer>
