<div *ngIf="photos">
  <div class="search-photos">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search images</mat-label>
      <input matInput maxlength="256" placeholder="Search images" (keyup)="search($event)">
    </mat-form-field>
  </div>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <div class="photos">
    <div class="photo" *ngFor="let photo of photos | paginate: {
      itemsPerPage: 6,
      currentPage: page,
      totalItems: totalLength
    }">

      <mat-card class="example-card">
        <img mat-card-image class="photo__image" [src]="photo.url" [alt]="photo.title"
             [title]="photo.title">
        <mat-card-content>
          <h5 class="photo__title">{{photo.title}}</h5>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Bookmark it!</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
